@import url(nprogress.css);
* {
  font-family: Roboto, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

html {
  background-color: #eeeeee; }

#box {
  width: 600px;
  max-width: 95%;
  margin: 10% auto 0 auto;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.69);
  color: #616161; }
  #box h1 {
    margin: 0;
    padding: 0;
    padding: 20px;
    color: #03a9f4;
    font-size: 35px;
    font-weight: 300;
    text-align: center; }
  #box #buttons {
    display: block;
    padding: 5px;
    border-top: 1px solid #eeeeee;
    text-align: center; }
    #box #buttons a {
      display: inline-block;
      width: auto;
      padding: 6px 8px;
      background: transparent;
      border: 0;
      border-top: 1px solid transparent;
      color: #2196f3;
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
      cursor: default; }
      #box #buttons a:hover {
        border-color: #eeeeee;
        box-shadow: 0 2px 2px rgba(158, 158, 158, 0.5); }
